.container{
    margin-bottom: 90px;
    border-radius: 10px;
    overflow: hidden;
}
.n-logo{
    width: 70%;
}
.top-slider{
    background-image: url(images/bg-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px;
}
.caro-text-col p{
    width: 390px;
}
.buy-btn{
    background-color: black;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
}
.cd-header{
    padding-bottom: 15px;
}
.cd-header a{
    color: orangered;
    font-size: 14px;
    font-weight: 700;
}
.card{
    padding: 20px 25px;
    box-shadow: 5px 5px 20px lightgrey;
}
.card ph-img{
    width: 275px;
}
.card-body h5{
    text-align: center;
}
.card-body p{
    text-align: center;
    color: rgb(133, 128, 128);
}
.col{
    margin-bottom: 20px;
    width: 33%;
}
.cd-footer{
    background-color: white;
    text-align: center;
    border-top: none;
}
/* --------------------- */
.ct-title h3{
    position: relative;
    margin-bottom: 20px;
}
.ct-title h3::after{
    content: " ";
    position: absolute;
    left: 49px;
    top: 38px;
    background-color: orangered;
    border-radius: 10px;
    height: 10px;
    width: 35px;
}
.r-content img{
    width: 100%;
}
.l-content{
    margin-top: 20px;
    text-align: center;
}
.l-content-part-l{
    margin-right: 50px;
}
.l-content-part-r .content-p-r-child1 img{
    width: 95px;
    height: 85px;
}
.l-content-part-r .content-p-r-child2 img{
    width: 95px;
    height: 85px;
}
.l-content-part-l{
    /* margin-left: 50px; */
    padding: 20px 10px;
    border-radius: 5px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 20px;
}
.l-content-part-r .content-p-r-child1{
    padding: 20px 10px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 10px;
}
.l-content-part-r .content-p-r-child2{
    /* margin-bottom: 50px; */
    padding: 20px 10px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 10px;
}
.sh-coll{
    box-shadow: 5px 5px 20px lightgrey;
}